.text-input {
    margin: 24px 0;
}

.text-input label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

.text-input input {
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.06);
    background-color: #ffff;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}